.container {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    width: 40px;
    margin: 0px 10px 20px 0px;
}

.name,
.telephone,
.submit {
    padding: 5px;
    display: block;
    margin-top: 10px;
}
